#menucontainer {
	margin: 0px auto 0px auto;
	_height: 1px;
	/* only IE6 applies CSS properties starting with an underscore */
	background: url("../../images/menu-border.gif") top left repeat-x
		#f2f2f2;
	padding: 15 2px 0 2px;
	width: 1220px;
}

ul#menu {
	width: 100%;
	height: 43px;
	font-size: 100%;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f2f2f2 url("../../images/menu-bg.gif") top left repeat-x;
	display: inline-block;
}

ul#menu li {
	display: block;
	float: left;
	margin: 0 0 0 5px;
}

div#authinfo a {
	padding: 0px 0px 0 0;
	margin: 0;
}

div#authinfo {
	padding: 0px 0px 0 0;
}

ul#menu li a {
	height: 43px;
	color: #565656;
	text-decoration: none;
	display: block;
	float: left;
	line-height: 200%;
	padding: 3px 15px 0;
}

ul#menu li a:hover {
	color: #006091;
}

ul#menu li a.current {
	color: #f2f2f2;
	background: #f2f2f2 url("../../images/current-bg.gif") top left repeat-x;
	padding: 3px 15px 0;
	height: 34px;
}

/*====================================== submenu ==================================================*/
ul#menu li ul {
	background: #EBF0FB;
	border-right: 2px solid #0081C2;
	border-bottom: 2px solid #0081C2;
	border-left: 2px solid #0081C2;
	border-top: 5px solid #006091;
	display: none;
	height: auto;
	filter: alpha(opacity = 100);
	opacity: 1.0;
	position: absolute;
	width: 150px;
	z-index: 200;
	top: 43px;
	padding: 0;
	margin: 0;
}

ul#menu li:hover ul {
	display: block;
}

ul#menu li:hover ul li {
	display: inline;
	float: none;
	padding: 0px;
	margin: 0px;
	width: 140px;
}

ul#menu li ul li a {
	display: inline;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 100%;
	font-style: normal;
	text-align: left;
	width: 140px;
	margin: 0px;
	padding: 2px 0px 0px 10px;
	height: 25px;
	border-top: 1px solid #EBF0FB;
	border-bottom: 1px solid #EBF0FB;
}

ul#menu li ul li a:hover {
	background: #9FCBEF;
	color: #565656;
	opacity: 1.0;
	filter: alpha(opacity = 100);
	margin: 0px;
	padding: 2px 0px 0px 10px;
	border-top: 1px solid #006091;
	border-bottom: 1px solid #006091;
}