/* Start Box */
.art-box, .art-box-body {
	margin: 0 auto;
	position: relative;
}

.art-box:before, .art-box:after, .art-box-body:before, .art-box-body:after
	{
	position: absolute;
	top: 0;
	bottom: 0;
	content: ' ';
	background-repeat: no-repeat;
	line-height: 0;
}

.art-box:before, .art-box-body:before {
	left: 0;
}

.art-box:after, .art-box-body:after {
	right: 0;
}

.art-box:before {
	overflow: hidden;
	background-position: bottom left;
	direction: ltr;
	z-index: -3;
}

.art-box:after {
	background-position: bottom right;
	z-index: -3;
}

.art-box-body:before, .art-box-body:after {
	background-repeat: repeat-y;
}

.art-box-body:before {
	background-position: top left;
	z-index: -3;
}

.art-box-body:after {
	background-position: top right;
	z-index: -3;
}

.art-box .art-box:before, .art-box .art-box:after, .art-box-body .art-box-body:before,
	.art-box-body .art-box-body:after {
	z-index: -2;
}

.art-box .art-box .art-box:before, .art-box .art-box .art-box:after,
	.art-box-body .art-box-body .art-box-body:before, .art-box-body .art-box-body .art-box-body:after
	{
	z-index: -1;
}
/* End Box */

/* Start Bar */
.art-bar {
	position: relative;
}

.art-bar:before, .art-bar:after {
	position: absolute;
	top: 0;
	bottom: 0;
	content: ' ';
	background-repeat: repeat;
	z-index: -1;
}

.art-bar:before {
	left: 0;
	background-position: top left;
}

.art-bar:after {
	right: 0;
	background-position: top right;
}
/* End Bar */

/* begin Menu */
/* menu structure */
ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
	{
	outline: none;
	position: relative;
	z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

ul.art-hmenu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background: none;
}

ul.art-hmenu li:hover {
	z-index: 10000;
	white-space: normal;
}

ul.art-hmenu li li {
	float: none;
	width: auto;
}

ul.art-hmenu li:hover>ul {
	visibility: visible;
	top: 100%;
}

ul.art-hmenu li li:hover>ul {
	top: 0;
	left: 100%;
}

ul.art-hmenu:after, ul.art-hmenu ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

ul.art-hmenu, ul.art-hmenu ul {
	min-height: 0;
}

ul.art-hmenu ul {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background-image: url('../../images/site/spacer.gif');
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
	right: auto;
	left: 0;
	margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-right-to-left {
	left: auto;
	right: 0;
	margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul {
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
	margin-left: -11px;
	z-index: -1;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right {
	right: auto;
	left: 0;
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
	margin-left: -11px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left {
	left: auto;
	right: 0;
	padding: 30px 10px 30px 30px;
	margin: -30px -10px 0 0;
	margin-right: -11px;
}

ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
	right: auto;
	left: 100%;
}

ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
	left: auto;
	right: 100%;
}

ul.art-hmenu {
	position: relative;
	padding: 6px 10px 12px 10px;
	float: left;
}

/* end menu structure */

/* menu bar */
.art-nav {
	width: 1000px;
	margin: 0 auto;
	min-height: 44px;
	z-index: 100;
	margin-top: 0;
	margin-bottom: -5px;
}

.art-nav:before, .art-nav:after {
	background-image: url('../../images/site/nav.png');
}

.art-nav:before {
	right: 21px;
}

.art-nav:after {
	width: 21px;
}
/* end menu bar */
.art-nav-outer {
	position: absolute;
	width: 100%;
}

.art-nav-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.art-nav-inner {
	margin: 0 6px;
}

/* end Menu */

/* begin MenuItem */
ul.art-hmenu>li>a {
	position: relative;
	display: block;
	height: 26px;
	cursor: pointer;
	text-decoration: none;
	color: #F6F8F8;
	padding: 0 17px;
	line-height: 26px;
	text-align: center;
}

ul.art-hmenu>li>a:before, ul.art-hmenu>li>a:after {
	position: absolute;
	display: block;
	content: ' ';
	top: 0;
	bottom: 0;
	z-index: -1;
	background-image: url('../../images/site/menuitem.png');
}

ul.art-hmenu>li>a:before {
	left: 0;
	right: 8px;
	background-position: top left;
}

ul.art-hmenu>li>a:after {
	width: 8px;
	right: 0;
	background-position: top right;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
	{
	font-size: 12px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

ul.art-hmenu>li>a.active:before {
	background-position: bottom left;
}

ul.art-hmenu>li>a.active:after {
	background-position: bottom right;
}

ul.art-hmenu>li>a.active {
	color: #263638;
}

ul.art-hmenu>li>a:hover:before, ul.art-hmenu>li:hover>a:before {
	background-position: center left;
}

ul.art-hmenu>li>a:hover:after, ul.art-hmenu>li:hover>a:after {
	background-position: center right;
}

ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a {
	color: #F6F8F8;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu>li:before {
	position: absolute;
	display: block;
	content: ' ';
	top: 0;
	left: -7px;
	width: 7px;
	height: 26px;
	background: url('../../images/site/menuseparator.png') center center
		no-repeat;
}

ul.art-hmenu>li {
	margin-left: 7px;
}

ul.art-hmenu>li:first-child {
	margin-left: 0;
}

ul.art-hmenu>li:first-child:before {
	display: none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a {
	display: block;
	white-space: nowrap;
	height: 23px;
	background-image: url('../../images/site/subitem.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-top-width: 0;
	border-color: #8DA19E;
	min-width: 7em;
	text-align: left;
	text-decoration: none;
	line-height: 23px;
	color: #172122;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 0 22px;
}

.art-hmenu ul>li:first-child>a {
	border-top-width: 1px;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover,
	.art-hmenu ul a:active {
	text-align: left;
	text-decoration: none;
	line-height: 23px;
	color: #172122;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 0 22px;
}

.art-hmenu ul li a:hover {
	color: #141C1D;
	background-position: left bottom;
	border-color: #8DA19E;
	border-top-width: 1px !important;
}

.art-hmenu ul li a.art-hmenu-before-hovered {
	border-bottom-width: 0 !important;
}

.art-hmenu ul li:hover>a {
	color: #FFFFFF;
	background-position: left bottom;
	border-color: #8DA19E;
	border-top-width: 1px !important;
}

/* end MenuSubItem */