/* begin Footer */
.art-footer-body {
	padding-right: 0;
	zoom: 1;
}

.art-footer {
	zoom: 1;
	background: #7BA1A6;
}

.art-footer-text {
	height: 33px;
}

.art-rss-tag-icon {
	zoom: 1;
	font-size: 1px;
}

/* end Footer */