<div class="controlpanel" style="margin-bottom: 10px; margin-left: 15px">
    <span><%= link_to image_tag('save.png', :options => {:alt => @localData['change_farm_setting']}) + ' ' + @localData['save_farm_setting'], 'javascript:submitChange()', :class => "btn btn-primary", :title => @localData['save'] %></span>
</div>