<div class="controlpanel" style="margin-bottom: 10px; margin-left: 15px">
    <span><%= link_to image_tag('save.png', :options => {:alt => @localData['change_password']}) + ' ' + @localData['change_password'], 'javascript:submitChange()', :title => @localData['change_password'], :class => "btn btn-primary" %></span>
</div>