<div class="controlpanel" style="margin-bottom: 10px; margin-left: 0px">
    <span><%= link_to image_tag('save.png', :options => {:alt => @localData['change_user_setting']}) + ' ' + @localData['save_user_setting'], 'javascript:submitChange()', :title => @localData['save'], :class => "btn btn-primary"%></span>
</div>