<div class="main_footer" style="padding-top: 5px !important;">
  <div style="vertical-align: middle !important">
    <div>
      <div class="col-md-12 col-xs-12 footersize">
        <a href="http://www.wiptime.com/contact-us.html" target="_blank">Contact Us</a> |
        <a href="mailto:info@wiptime.com">info@wiptime.com</a> | Phone: 408 799 9170
      </div>

    </div>
    <div>
      <div class="col-md-12 col-xs-12 footersize">
        Copyright &copy;
        2013 <%= link_to 'Nidaan Systems, Inc.', 'http://www.nidaansystems.com', {:tabindex => "-1", :target => "blank"} %>
        All rights reserved.
      </div>
    </div>
  </div>

</div>