<div class="art-layout-cell art-sidebar1">
  <div class="art-box art-block">
    <div class="art-box-body art-block-body">
      <div class="art-bar art-blockheader">
        <h3 class="t">News &amp; events</h3>
      </div>
      <div class="art-box art-blockcontent">
        <div class="art-box-body art-blockcontent-body">
          <p>02-12-2012</p>

          <h6>New version released with new features</h6>

          <h6><br/></h6>

          <div class="cleared"></div>
        </div>
      </div>
      <div class="cleared"></div>
    </div>
  </div>
  <div class="cleared"></div>
</div>