<div class="art-footer">
  <div class="art-footer-body">
    <a href="#" class="art-rss-tag-icon" title="RSS"></a>
    <div class="art-footer-text">
      <p><a href="#">Contact Us</a> | <a href="#">info@wiptime.com</a> | <a href="#">Phone: 555-555-5555</a></p>
      <p>Copyright &copy; 2013 <%= link_to 'Nidaan Systems, Inc.', 'http://www.nidaansystems.com', { :tabindex=> "-1" } %> All rights reserved.</p>
    </div>
    <div class="cleared"></div>
  </div>
</div>
<div class="cleared"></div>